.name {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

.linkedin {
  border-radius: 20%;
  color: white;
  font-size: 30px;
}
.linkedin:hover {
  color: #a50b0b;
}
.github {
  font-size: 30px;
  padding-left: 10px;
  border-radius: 20%;
  color: white;
}
.github:hover {
  color: #a50b0b;
}

.nav-link {
  &:hover {
    color: #a50b0b !important;
    cursor: pointer;
  }
}
